header
{
	background-color:#df2243;
	position: sticky;
	top: 0px;
	z-index:1;
}

#logo
{
	margin-top:12px;
	display:inline;
	margin-left:10px;
}

#profile
{
	text-align: right;
}

h1
{
	text-align: center;
	color:white;
	font-family:Constantia;
	margin-top:0px;
	padding-top:0px;
	position: absolute;
	top: 15px;
	left:550px;
}

nav 
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: rgb(65,239,165);

	width: 100%;
	position: sticky;
	top: 77px;
	z-index:1;
}

.nav
{
	float: left;
	list-style-type:none;
}

.nav a
{
	display: block;
	color: white;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	margin-right:20px;
	text-decoration: none;
	font-family:Algerian;
	margin-top:0px;
}

.nav a:hover
{
	background-color: rgb(200,191,231);
}

#search
{
	text-align:right;
	margin-right:30px;
	margin-top: 10px;
	margin-bottom:15px;
}

body
{
	background-color:white;
}	

footer
{
	background-color:rgb(215,215,215);/*#b4da55;*/
	color:rgb(135,135,135)/*#f42069*/;
	padding-left:10px;
	padding-top:5px;
}

*
{
	box-sizing: border-box;
}

.column {
	float: left;
	padding: 10px;
	display:inline;
}

#movies
{
	width: 70%;
}

#offers
{
	width: 30%;
	background-color:rgb(200,191,231);
	position: sticky;
	top: 145px;	
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#fade
{
	position:relative;
	width:10%;
}

#poster:hover
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.3);
}